
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
*{
    margin: 0;
}
body{
    background: #020024;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 20%, rgba(7, 57, 153, 1) 40%, rgba(6, 86, 172, 1) 60%, rgba(3, 140, 207, 1) 80%, rgba(0, 212, 255, 1) 100%);
}
h1{
    color:aliceblue;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    display: block;
    color: aliceblue;
    text-decoration:none;
    padding: 16px;
    font-family: "Molle", cursive;
    font-weight:400 ;
    font-style:italic ;
}

li a:hover{
    color:grey;
}
